<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Source+Sans+Pro:wght@200;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../styles/buttons.css" />
    <link rel="stylesheet" href="../styles/notifications.css" />
  </head>
  <body>
    <div class="back-button">
      <a href="./popup-main.html"
        ><span class="material-icons"> arrow_left </span>Back</a
      >
    </div>
    <div id="npmfNotification"></div>
    <div id="packageView">
      <div style="text-align: center; padding-top: 80px">
        <div class="lds-heart"><div></div></div>
      </div>
    </div>
    <script src="../scripts/lib/timeago.min.js"></script>
    <script src="../scripts/lib/pretty-bytes.js"></script>
    <script src="../scripts/services/npmFaves-storage-service.js"></script>
    <script src="../scripts/services/npmFaves-registry-service.js"></script>
    <script src="../scripts/utils/npmFaves-ui-notification.js"></script>
    <script src="../scripts/utils/npmFaves-helpers.js"></script>
    <script src="../scripts/popup-package.js"></script>
  </body>
</html>
