<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Source+Sans+Pro:wght@200;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../styles/buttons.css" />
    <link rel="stylesheet" href="../styles/notifications.css" />
  </head>
  <body>
    <div class="search-bar-container">
      <div class="search-bar">
        <span class="search-icon material-icons-outlined"> search </span
        ><input
          id="searchInput"
          placeholder="Search packages"
          autocomplete="off"
          aria-label="Search packages"
          type="search"
          value=""
        />
      </div>
    </div>
    <div id="npmfNotification" style="display: none">
      <span id="npmfNotificationCloseButton" class="npmf_notification-close"
        >&times;</span
      >
      <span id="npmfNotificationMessage"></span>
    </div>
    <div id="favesContainer"></div>
    <script src="../scripts/lib/timeago.min.js"></script>
    <script src="../scripts/services/npmFaves-storage-service.js"></script>
    <script src="../scripts/popup-main.js"></script>
  </body>
</html>
