<!DOCTYPE html>
<html lang="en">
  <head>
    <title>npm faves :: Readme</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../scripts/lib/analytics.js"></script>
  </head>
  <body>
    <h1>Thank you for using npm faves</h1>
    <script src="../scripts/services/npmFaves-tracking-service.js"></script>
    <script src="../scripts/utils/npmFaves-helpers.js"></script>
    <script src="../scripts/readme.js"></script>
  </body>
</html>
