/*
* Styles for the options page
*/

/* ==[ Global Settings ]== */

body {
  font-family: "Source Sans Pro", "Lucida Grande", sans-serif;
  color: #333333;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
}

header {
  font-family: "Fira Mono", "Andale Mono", "Consolas", monospace;
  border-bottom: 1px solid #cacaca;
  box-shadow: 0px -15px 25px #888888;
  z-index: 2;
}

main {
  display: flex;
  width: 960px;
  margin: 0 auto;
}

aside {
  background-color: rgba(0, 0, 0, 0.03);
  box-shadow: inset -8px 0 6px -2px rgb(162 162 162 / 10%);
  border-right-style: solid;
  border-right-width: 1px;
  flex-direction: column;
  border-color: rgba(0, 0, 0, 0.1);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  box-sizing: border-box;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  width: 282px;
  height: 89vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 24px 0;
  display: flex;
}

.collectionListTitle {
  font-size: 1.25em;
  font-weight: 600;
  color: #00000078;
  margin: 0.5em 0 0.2em 0.5em;
  padding-left: 0.5em;
  display: flex;
  align-items: center;
}

.collectionListTitle .material-icons-outlined {
  font-size: 20px;
  margin-right: 10px;
}

aside a {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.25em;
  text-decoration: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  display: flex;
  align-items: center;
}

aside a .material-icons-outlined {
  font-size: 20px;
  margin-right: 10px;
}

aside a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.menu-item-active {
  background-color: rgba(0, 0, 0, 0.05);
}

.badge {
  font-size: 0.8em;
  margin-left: 0.3em;
  padding-top: 2px;
}

.header-content {
  width: 960px;
  margin: 0 auto;
  display: flex;
}

.header-content img {
  width: 50px;
  height: 50px;
  margin-top: 15px;
  margin-right: 20px;
}

.page-content {
  width: 960px;
  margin: 0 auto;
  padding-bottom: 70px;
}

.nav-bar {
  background-color: #f9f9f9;
  border-color: rgba(0, 0, 0, 0.1);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-top: -9px;
}

.nav-bar-content {
  width: 960px;
  margin: 0 auto;
}

h2 {
  font-size: 1.25rem;
  padding-top: 0.5rem;
  color: #000;
}

.fave-list {
  width: 100%;
  margin: 0 auto 80px;
}

h3 {
  border-bottom: 1px dotted #ccc;
  color: #111;
  font-size: 1.25rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  border-color: rgba(0, 0, 0, 0.1);
}

.fave-table {
  font-family: "Fira Mono", "Andale Mono", "Consolas", monospace;
  width: 100%;
  text-align: right;
}

.fave-table th {
  font-weight: normal;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}

.fave-table td:first-child,
.fave-table th:first-child {
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fave-table tr,
.fave-table thead {
  margin-bottom: 12px;
}

.fave-table td {
  padding-top: 10px;
}

.fave-table td a {
  color: #cb3837;
  text-decoration: none;
}

.empty-list {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 50px;
}

/* ==[ Readme ]== */

.thanks {
  text-align: center;
  margin-top: 40px;
}

.help-content {
  display: flex;
}

.help-content a {
  display: contents;
}

.help-content img {
  width: 70%;
  box-shadow: 0 0 7px 1px #eee;
  border: 2px solid #fff;
}

.w50 {
  width: 50%;
}

.center {
  text-align: center;
}

.footer {
  display: flex;
  border-top: 1px solid #cacaca;
  height: 20px;
  justify-content: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
}

.footer a {
  display: contents;
}

.footer img {
  margin-left: 5px;
}
