<!DOCTYPE html>
<html>
  <head>
    <title>npm faves :: Options</title>
    <link rel="icon" type="image/png" href="../images/npm-faves-logo-16.png" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Source+Sans+Pro:wght@200;600&display=swap"
      rel="stylesheet"
    />
    <!-- build:css ../styles/options.min.css -->
    <link rel="stylesheet" href="../styles/options.css" />
    <!-- endbuild -->
    <!-- build:js ../scripts/analytics.min.js -->
    <script src="../scripts/lib/analytics.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <header>
      <div class="header-content">
        <img src="../images/npm-faves-logo-128.png" />
        <h1>npm faves</h1>
      </div>
    </header>
    <div class="nav-bar">
      <div class="nav-bar-content">
        <h2 id="foundTitle"></h2>
      </div>
    </div>
    <div id="favesContainer" class="fave-list"></div>
    <div class="footer">
      npm faves is an
      <a
        href="https://github.com/tulu/chrome-extension-npm-faves"
        target="_blank"
        >open source</a
      >
      extension from devs to devs
      <img src="../images/npm-faves-logo-32.png" alt="npm faves logo" />
    </div>
    <!-- build:js ../scripts/vendor.min.js -->
    <script src="../scripts/lib/timeago.min.js"></script>
    <script src="../scripts/lib/pretty-bytes.js"></script>
    <!-- endbuild -->
    <!-- build:js ../scripts/npm-faves.core.min.js -->
    <script src="../scripts/services/npmFaves-tracking-service.js"></script>
    <script src="../scripts/services/npmFaves-storage-service.js"></script>
    <script src="../scripts/services/npmFaves-registry-service.js"></script>
    <script src="../scripts/utils/npmFaves-ui-notification.js"></script>
    <script src="../scripts/utils/npmFaves-helpers.js"></script>
    <!-- endbuild -->
    <!-- build:js ../scripts/options.min.js -->
    <script src="../scripts/options.js"></script>
    <!-- endbuild -->
  </body>
</html>
