<!DOCTYPE html>
<html>
  <head>
    <title>npm faves :: Popup Package</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Source+Sans+Pro:wght@200;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined"
      rel="stylesheet"
    />
    <!-- build:css ../styles/styles.min.css -->
    <link rel="stylesheet" href="../styles/styles.css" />
    <!-- endbuild -->
    <!-- build:css ../styles/npm-faves.ui.min.css -->
    <link rel="stylesheet" href="../styles/buttons.css" />
    <link rel="stylesheet" href="../styles/notifications.css" />
    <!-- endbuild -->
  </head>
  <body>
    <a id="backButton" class="menu-item menu-item-gray" href="./popup-main.html"
      ><span class="material-icons"> arrow_left </span>Back</a
    >
    <div id="npmfNotification"></div>
    <div id="packageView">
      <div class="lds-heart-container">
        <div class="lds-heart"><div></div></div>
      </div>
    </div>
    <!-- build:js ../scripts/vendor.min.js -->
    <script src="../scripts/lib/timeago.min.js"></script>
    <script src="../scripts/lib/pretty-bytes.js"></script>
    <!-- endbuild -->
    <!-- build:js ../scripts/npm-faves.core.min.js -->
    <script src="../scripts/services/npmFaves-analytics-service.js"></script>
    <script src="../scripts/services/npmFaves-storage-service.js"></script>
    <script src="../scripts/services/npmFaves-registry-service.js"></script>
    <script src="../scripts/utils/npmFaves-ui-notification.js"></script>
    <script src="../scripts/utils/npmFaves-helpers.js"></script>
    <!-- endbuild -->
    <!-- build:js ../scripts/popup-package.min.js -->
    <script src="../scripts/popup-package.js"></script>
    <!-- endbuild -->
  </body>
</html>
