/* ==[ Notification ]== */

.npmf_notification {
  padding: 10px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  position: absolute;
  width: 90.4%;
  margin: 10px;
  top: 0;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 19%);
  border-radius: 0.3rem;
  text-align: center;
}

.npmf_notification-success {
  background-color: #89d67c;
}

.npmf_notification-error {
  background-color: #f44336;
}

.npmf_notification-warning {
  background-color: #ff9800;
}

.npmf_notification-info {
  background-color: #2196f3;
}

.npmf_notification-close {
  float: right;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  right: -4px;
  top: -11px;
}

.npmf_notification-close:hover {
  color: black;
}

.npmf_notification_site {
  padding: 0.7rem;
  color: #fff;
  font-size: 0.9rem;
  background-color: #76c2ff;
  width: 200px;
  border-radius: 0.3rem;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 19%);
  text-align: center;
}
