/* ==[ Global Settings ]== */

body {
  width: 440px;
  height: 470px;
  font-family: "Source Sans Pro", "Lucida Grande", sans-serif;
  color: #333333;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

/* ==[ Search bar ]== */

.search-bar-container {
  flex-grow: 1;
  border: 1px solid #f2f2f2;
  position: relative;
  border-bottom: 1px solid #cacaca;
}

.search-bar {
  background: #f2f2f2;
  white-space: nowrap;
  display: flex;
}

.search-icon {
  padding-top: 10px;
  padding-left: 10px;
  float: left;
  display: block;
  color: #b7b7b7;
  width: 40px;
}

#searchInput {
  background: none;
  font-family: "Fira Mono", "Andale Mono", "Consolas", monospace;
  font-size: 14px;
  border: none;
  height: 40px;
  width: calc(100% - 10px);
}

.back-button {
  height: 40px;
  background-color: #efefef;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.back-button:hover {
  background-color: #e8e8e8;
}

.back-button a {
  display: flex;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  font-size: 1rem;
  align-items: center;
}

/* ==[ Faves list ]== */

#favesContainer {
  height: 420px;
  overflow: auto;
}

.empty-list {
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
}

.pack {
  display: flex;
  border-bottom: 1px solid #cacaca;
  padding: 5px 10px;
  cursor: pointer;
}

.pack:hover {
  background-color: #e8e8e8;
}

.pack-info {
  width: 100%;
}

.pack-name {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pack-description {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.6);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2px;
  line-height: 1.5;
}

.pack-version {
  font-family: "Fira Mono", "Andale Mono", "Consolas", monospace;
  font-size: 0.675rem;
}

.pack-publisher {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
  margin-right: 5px;
  letter-spacing: 0px;
}
.pack-date-version {
  color: rgba(0, 0, 0, 0.5);
}

/* ==[ Package view ]== */

.package-name {
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
}

.package-description {
  font-size: 1rem;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2px;
  line-height: 1.5;
  padding: 0 10px;
}

.package-properties {
  border-color: rgba(0, 0, 0, 0.1);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 5px 10px;
}

.package-attribute {
  color: #757575;
  font-size: 1rem;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  font-family: "Source Sans Pro", "Lucida Grande", sans-serif;
  margin-bottom: 5px;
}

.package-value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.8);
  -webkit-font-smoothing: antialiased;
  font-family: "Source Sans Pro", "Lucida Grande", sans-serif;
}

a.package-value {
  text-decoration: none;
}